@use "/src/styles/index.scss" as s;
@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
.landing {
	.particle-part {
		@apply w-full h-full relative;
	}

	.landing-top {
		@apply relative h-[50vh] laptop:h-screen;
		.landing-top-wrapper {
			@apply absolute top-0 right-0 bottom-0 left-0;
			.landing-top-content {
				@apply w-full h-full flex flex-col justify-center items-center;
			}

			.title {
				transition: all s.$timing-default cubic-bezier(0.075, 0.82, 0.165, 1);
				@apply text-3xl laptop:text-[60px] h-[50px] font-medium text-primary transition-all m-0 tracking-medium;

				&:hover {
					@apply cursor-pointer;
					transform: translate3d(0, -10px, -100px);
					color: #ff9551;
				}
			}

			.subtitle-span {
				@apply font-Roboto tracking-max font-light text-[#faebd7] text-[35px] hidden lg:block;
				transition: all 0.1s ease;
				animation: loading 1s ease-in-out infinite alternate;
				-webkit-animation: loading 1s ease-in-out infinite alternate;
				text-shadow: 0 0 0 #faebd7;

				&:hover {
					@apply text-[#FF4A4A] font-medium text-vw22;
				}
			}

			@for $i from 0 through 16 {
				.subtitle-span:nth-child(#{$i + 1}) {
					animation-delay: #{calc($i / 10)}s;
				}
			}
		}
	}

	.toolbar-landing {
		@apply z-10 fixed h-16 top-0 left-0 w-full px-4 text-white transition-all;
		&:has(.item-navigate-mobile.active) {
			background: s.black(0.6);
			.name {
				@apply text-white;
			}
			&.active {
				box-shadow: unset;
			}
		}
		.toolbar {
			@apply flex justify-between items-center h-full;
			.logo {
				@apply flex items-center justify-center gap-3 cursor-pointer;
				.name {
					@apply text-2xl font-semibold font-Roboto block tablet:hidden;
				}
			}
			.item-navigate {
				@apply hidden tablet:flex;
				a {
					@apply relative ml-5 transition-colors font-medium uppercase text-xs tracking-widest;
					transition: all s.$timing-default cubic-bezier(0.68, -0.55, 0.265, 1.55);
					&::after {
						@apply absolute -bottom-1 left-0 w-full h-[1px] scale-0 transition-all duration-300;
						content: "";
						background-color: s.$color-highlight;
					}
					&:hover {
						color: s.$color-highlight;
					}

					&.active {
						color: s.$color-highlight;
						&::after {
							@apply scale-100;
						}
					}

					&.shop {
						order: 5;
					}
				}
			}
			// Navigate menu mobile
			.toggle-menu {
				@apply block relative tablet:hidden;
				z-index: 1;
				-webkit-user-select: none;
				user-select: none;
				span {
					@apply block w-[33px] h-[3px] bg-gray mb-1 relative rounded-default z-1;
					transform-origin: 4px 0;
					transition: all 0.1s linear, transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
						background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
					-webkit-touch-callout: none;
					&:first-child {
						transform-origin: 0% 0%;
					}
					&:nth-last-child(2) {
						transform-origin: 50% 0%;
					}
				}
				input {
					@apply block w-[40px] h-[32px] absolute cursor-pointer opacity-0 z-2;
					top: -7px;
					left: -5px;
				}
				input:checked {
					& ~ span {
						@apply opacity-100;
						transform: rotate(-45deg) translate(-2px, -1px);
						&:nth-last-child(3) {
							transform: rotate(45deg) translate(-1px, -2px);
						}
						&:nth-last-child(2) {
							@apply opacity-0;
							transform: rotate(360deg) scale(0.2, 0.2);
						}
					}
				}
				&:has(input:checked) ~ .item-navigate-mobile.active {
					height: calc(50vh - 64px);
					.row-navigate {
						transform: translateX(0px);
						opacity: 1;
					}
				}
			}
			.item-navigate-mobile {
				@apply w-full flex flex-col justify-center items-center gap-1  absolute top-16 left-0 h-0 overflow-hidden  tablet:hidden;
				transition: height s.$timing-default cubic-bezier(0.78, -0.2, 0.265, 1);
				background: s.black(0.6);
				.row-navigate {
					@apply text-gray-50 h-full leading-[42px] font-Roboto opacity-0;
					transition: transform s.$timing-default linear, opacity s.$timing-default ease;
					&.shop {
						order: 5;
					}
					&:nth-child(odd) {
						transform: translateX(-50px);
					}
					&:nth-child(even) {
						transform: translateX(50px);
					}

					&.active {
						color: s.$color-highlight;
					}
				}
				@for $i from 1 through 6 {
					.row-navigate:nth-child(#{$i}) {
						transition-delay: calc(#{calc($i * 0.1)}s);
					}
				}
			}
		}
		svg {
			@apply h-11 w-11;
		}

		&.active {
			color: s.$color-dark;
			box-shadow: s.$box-shadow;
			@apply bg-white;
		}
	}

	#fragment-content {
		.promotion {
			@apply pt-5;
			&__title {
				@apply text-highLight font-medium text-center;
				.mat-icon {
					@apply italic mr-2;
				}
			}
			.promotion-item-wrapper {
				@apply w-full h-full relative rounded-default overflow-hidden my-2;
				max-height: 540px;
				img {
					@apply object-cover relative z-0 scale-100;
					transition: transform s.$timing-default cubic-bezier(0.6, -0.38, 0.735, 0.045);
				}
				.item-content {
					@apply absolute z-2 top-1/2 left-1/2 right-0 -translate-x-1/2 -translate-y-1/2 bottom-1/2  overflow-hidden;
					transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
					transition-delay: 0.2s;
					& > * {
						opacity: 0;
						transition: all s.$timing-default ease-in-out;
						@for $i from 1 through 3 {
							&:nth-child(#{$i}) {
								transition-delay: #{calc($i * 0.1)}s;
							}
						}
					}
					.title {
						@apply relative mx-auto w-fit text-center text-white font-semibold text-2xl tracking-wide;
						&::after {
							@apply absolute left-0 -bottom-1 h-[1px] w-full scale-0 bg-gray;
							content: "";
							transition: transform s.$timing-default ease;
							transition-delay: s.$timing-default;
						}
					}
					.item-description {
						@apply text-gray-200 text-base font-medium text-center;
					}
					.item-action {
						@apply mt-2;
						.mat-button {
							@apply bg-gray text-black transition-all block mx-auto translate-y-4;
							transition: background, color 0.2s linear;
							transition: transform s.$timing-default ease-in-out s.$timing-default;
							&:hover:not(.read-more) {
								@apply bg-highLight text-white;
							}
							&.read-more {
								@apply bg-transparent text-white text-xl flex justify-center px-4 py-2  overflow-hidden items-center;
								&:hover {
									@apply text-highLight;
								}
							}
						}
					}
				}
				&::after {
					@apply w-full h-full top-0 left-0 z-1 opacity-0 absolute transition-opacity duration-500;
					content: "";
					background: s.black(0.6);
				}
				&:hover {
					img {
						@apply scale-110;
					}
					&::after {
						@apply opacity-100;
					}
					.item-content {
						@apply bottom-auto overflow-visible;
						& > * {
							@apply opacity-100;
						}
						.title {
							transform: translateY(-20px);
							&::after {
								@apply scale-100;
							}
						}
						.item-action {
							.mat-button {
								@apply translate-y-0;
							}
						}
					}
				}
			}
			.promotion-item-wrapper-action {
				@apply w-full h-full flex justify-center items-center my-2;
				.mat-button {
					@apply relative flex items-center justify-center gap-2 text-highLight transition-all text-xl tracking-wider;
					.arrow {
						@apply -translate-x-3 relative -z-1;
						transition: all 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.1s;
					}
					&:hover {
						.arrow {
							@apply z-2 translate-x-0;
						}
					}
				}
			}

			.promotion-description {
				@apply text-gray-500 text-base text-center;
				.sub-title {
					@apply px-2 mobile:text-xs;
				}
			}
		}

		.blog {
			@apply pt-5;
			&__title {
				@apply text-highLight font-medium text-center;
				@include s.alignFlex();
				.mat-icon {
					@apply italic mr-2;
				}
			}
			.blog-header {
				@include s.alignFlex(space-between, center);
				@apply text-highLight tracking-wider mx-6;
				.blog-header-item {
					@apply font-medium;
					&.right {
						@apply relative cursor-pointer;
						@include s.alignFlex(space-between, center);
						&::after {
							@apply absolute -bottom-1 w-full h-[1px] bg-highLight scale-0 transition-transform;
							content: "";
						}
						&:hover::after {
							@apply scale-100;
						}
						& > * ~ * {
							@apply ml-2;
						}
					}
				}
			}
			.blog-item-wrapper {
				@apply pb-3 bg-slate-100 rounded-default overflow-hidden;
				.item-bg {
					max-height: 300px;
					@apply h-full cursor-pointer relative z-0 overflow-hidden;
					&::after {
						@apply absolute bottom-0 left-0 w-full h-full z-1;
						content: "";
						background: s.black(0);
						transition: all 0.2s ease;
					}
					img {
						@apply scale-100;
						transition: transform s.$timing-default cubic-bezier(0.6, -0.38, 0.735, 0.045);
					}
					&:hover {
						&::after {
							background: s.black(0.6);
						}
						img {
							@apply scale-110;
						}
					}
				}

				.item-content {
					@apply mt-2 text-dark px-2;
					.title {
						@apply font-medium  h-[45px] leading-6;
						@include s.truncate(100%, 2);
					}
					.item-content-body {
						@apply flex justify-between items-center my-2;
						.content-time {
							@apply text-sm;
						}
						.item-action {
							@apply text-highLight transition-colors;
							&:hover {
								@apply text-white bg-highLight;
							}
						}
					}
				}
			}

			.swiper-pagination-fraction,
			.swiper-pagination-custom,
			.swiper-horizontal > .swiper-pagination-bullets,
			.swiper-pagination-bullets.swiper-pagination-horizontal {
				@apply left-1/2 -translate-x-1/2 w-fit;
			}
		}

		.featured-product {
			@apply pt-5;
			&__title {
				@apply text-highLight font-medium text-center;
				@include s.alignFlex();
				.mat-icon {
					@apply italic mr-2;
				}
			}
			&__body {
				.wrapper {
					@apply gap-1 grid;
					grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
					grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
					grid-auto-rows: auto 1fr auto;
					.featured-product-item {
						@apply justify-self-center self-center cursor-pointer rounded-default overflow-hidden;
						.item-view {
							@apply relative overflow-hidden;
							@include s.alignFlex();
							min-height: 175px;
							img {
								@apply relative z-1 mx-auto object-cover;
								transition: transform 0.2s ease 0.2s;
							}
							.item-content {
								@apply absolute top-0 left-0 w-full h-0 z-2 rounded-default overflow-hidden opacity-0;
								background: s.black(0.6);
								transition: height s.$timing-default ease, opacity s.$timing-default linear;
								@include s.alignFlex();
								flex-direction: column;
								h1 {
									@apply text-primary;
								}
								.item-action {
									@apply mt-2;
									.mat-button {
										@apply bg-gray text-black transition-all block mx-auto;
										transform: translateY(100%);
										transition: background, color 0.2s linear;
										transition: transform 0.2s ease s.$timing-default;
										&:hover:not(.read-more) {
											@apply bg-highLight text-white;
										}
										&.read-more {
											@apply bg-transparent text-white text-xl flex justify-center px-4 py-2  overflow-hidden items-center;
											&:hover {
												@apply text-highLight;
											}
										}
									}
								}
							}
						}
						.item-title {
							@apply mt-2 px-2 text-dark font-medium tablet:text-base;
							transition: transform s.$timing-default cubic-bezier(0.76, 0.16, 0.77, 1.29) s.$timing-default, max-height s.$timing-default linear;
							transform: translateX(-300px);
						}

						&:hover {
							.item-title {
								transform: translateX(0);
							}
							.item-content {
								@apply h-full opacity-100;
								.item-action {
									.mat-button {
										@apply translate-y-0;
									}
								}
							}
							img {
								@apply scale-110;
							}
						}
					}
				}
			}
		}
	}

	.swiper {
		padding: 10px 40px;
		height: 100%;
		width: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		&:has(.promotion-item-wrapper > .read-more) {
			height: auto;
			margin: 0.5rem 0;
		}
	}
}

@-webkit-keyframes loading {
	to {
		text-shadow: 20px 0 70px s.$color-highlight;
		transform: translateY(10px);
		color: s.$color-highlight;
	}
}

@keyframes loading {
	to {
		text-shadow: 20px 0 70px s.$color-highlight;
		color: s.$color-highlight;
		transform: translateY(10px);
	}
}


.swiper-pagination-bullet-active {
	background: s.$color-highlight !important;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0 !important;
}
.swiper-button-prev,
.swiper-button-next {
	@apply hidden tablet:inline;
	color: s.$color-highlight !important;
	transition: text-shadow 0.1s ease !important;
	text-shadow: 2px 5px 7px s.black(0);
	&:hover {
		text-shadow: 2px 5px 7px s.black(0.3);
	}
}
