@use "./styles/" as s;
@use "@angular/material" as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
	font-family: "Open Sans", sans-serif;
	-webkit-tap-highlight-color: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 12px;
		background-color: #1b2430;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
}
body{
	height: 100vh;
	overflow: hidden;
}
.cdk-overlay-dark-backdrop {
	background: s.black(0.7) !important;
}

.mat-chip-list-wrapper input.mat-input-element,
.mat-chip-list-wrapper .mat-standard-chip {
	cursor: pointer !important;
}

.mat-button-wrapper{
	pointer-events: none !important;
}