<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647"
        >
          <!-- binding config: security, httpTransport and more  -->
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>