<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="admin-page w-full h-screen">
    <mat-drawer-container class="w-full h-full" hasBackdrop autosize>
        <mat-drawer class="sidebar w-48 h-full grid grid-rows-1" #drawer mode="side">
            <div class="sidebar-header h-10 leading-10 text-center text-xl font-semibold ">
                ADMIN
            </div>
            <hr class="bg-red-50">
            <div class=" w-full sidebar-router-element pt-20">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <mat-tree-node [routerLink]="node.route" *matTreeNodeDef="let node" matTreeNodeToggle>
                        {{node.title}}
                    </mat-tree-node>
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                        <div class="mat-tree-node">
                            <button class="btn-expand-tree" matTreeNodeToggle>
                                {{node.title}}
                                <mat-icon>
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                        </div>
                        <div class="expandNode" [class.invisible-children-node]="!treeControl.isExpanded(node)" role="group">
                            <ng-container matTreeNodeOutlet ></ng-container>
                        </div>
                    </mat-nested-tree-node>
                </mat-tree>
            </div>
        </mat-drawer>

        <div class="admin-body h-full">
            <mat-toolbar class="flex justify-start items-center gap-1">
                <button (click)="drawer.toggle()" matRipple mat-button class="flex menu-header">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="text-xl fw400 cursor-pointer text-gray-700">Admin</span>
            </mat-toolbar>
            <!-- Route outlet -->
            <div class="admin-main min-h[300px]">
                <router-outlet></router-outlet>
            </div>

            <div class="admin-footer">
                xin ch&#224;o c&#225;c b&#7841;n t&#244;i t&#234;n l&#224; nguy&#7877;n l&#432;u th&#432;&#7901;ng
            </div>
        </div>
    </mat-drawer-container>
</div>