<div class="shop-home">
	<div class="home-slide bg-dark h-[75vh] mb-2">
		<swiper
			#homeSlide
			class="h-full"
			[slidesPerView]="1"
			[spaceBetween]="50"
		>
			<ng-template *ngFor="let item of dataSlide" swiperSlide>
				<div
					class="home-slide-item select-none p-5 flex flex-row-reverse gap-2 justify-center items-center h-full"
				>
					<div
						class="card-item p-5 h-full w-full flex justify-center items-center"
						style="--background-shadow:url({{item.imgUrl}})"
					>
						<img
							class="object-cover h-full"
							[src]="item.imgUrl"
							alt=""
						/>
					</div>
					<div class="card-item-content overflow-hidden max-w-lg text-white">
						<div class="title-item  mb-4">
							<h2>Product Name</h2>
						<mat-divider class="mx-auto bg-gray-cus"></mat-divider>
						</div>
						<p class="item-content  leading-5 tracking-wide text-base">
							{{ item.content }}
						</p>
						<div class="item-action-group flex justify-center items-center gap-x-2">
							<button mat-stroked-button class="view-detail-action transition-colors hover:text-primary ">
								Xem chi tiết
							</button>
							<button mat-raised-button class="bg-primary text-white">
								Thêm vào giỏ
							</button>
						</div>
					</div>
				</div>
			</ng-template>
		</swiper>
	</div>
</div>
