.admin-page {
	.mat-drawer {
		@apply bg-blue-woodDark text-white;
	}
	.mat-tree {
		@apply bg-transparent text-white;
	}

	.sidebar {
		.sidebar-router-element {
			height: calc(100% - 60px);
		}
		.mat-tree-node {
			@apply text-base font-semibold cursor-pointer pl-3 text-white;

			.btn-expand-tree {
				@apply flex items-center;
			}
		}
		.expandNode {
			overflow: hidden;
			transition: all 0.3s linear;
			height: fit-content;

			&.invisible-children-node {
				height: 0;
			}

			&[role="group"] > .mat-tree-node {
				padding-left: 20px;
			}
		}
	}
	.admin-body {
		.admin-main {
			height: calc(100% - 64px - 50px);
		}
		.admin-footer {
			max-height: 50px;
		}
	}
}

.quote {
	color: #8cc540;
	font-style: italic;
}

.redText {
	color: Red;
	font-size: 12px;
	font-family: Arial;
}

h1.titleText {
	color: #69a8cf;
	text-align: left;
	margin-top: 40px;
	font-weight: normal;
}

img.img-small {
	width: 150px;
	height: 150px;
	object-fit: contain;
	overflow: hidden;
}

.angular-editor-wrapper img {
	max-width: 100%;
    max-height: 100%;
    resize: both;
}
.angular-editor[_ngcontent-ucf-c132] .angular-editor-wrapper[_ngcontent-ucf-c132] p{
    display: inline-block;
    resize: both;
    overflow: hidden;
    line-height: 0;
}

.output{
    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
    }
}
.image-center{
    margin: 0 auto;
}