/* You can add global styles to this file, and also import other style files */
.toast-error {
    background-color: #D2001A;
    color:  #FFFFFF;
  
    .mat-simple-snackbar-action  {
      color:  #FFFFFF;
    }
  }
  
  .toast-success {
    background-color: #367E18;
    color: #FFFFFF;
  
    .mat-simple-snackbar-action  {
      color:  #FFFFFF;
    }
  }