@use "/src/styles/index.scss" as s;

.mat-dialog-container {
	position: relative !important;
}

.panel-dialog-product{
	@apply px-3 laptop:max-w-4xl tablet:max-w-2xl;
}
.overview-product-dialog {
	@apply h-full w-full py-3;
	.dialog-toolbar {
		@include s.alignFlex(flex-end, center);
		@apply absolute right-0 top-0 text-sm;
	}
	.close-button {
		@apply cursor-pointer;
	}
	.overview-product-container {
		@apply grid grid-cols-2 laptop:grid-cols-5 h-full;
		.gallery-product {
			@apply col-span-2;
			@apply laptop:col-span-3;
			.main-item {
				img{
					@apply rounded-default mx-auto;
				}
				.swiper-thumb {
					@apply mt-3;
					.swiper-slide{
						height: 75px;
						@apply flex;
					}
					.swiper-slide-visible {
						@apply cursor-pointer relative rounded-default overflow-hidden transition-all;
						height: 75px;
						img {
							@apply object-cover w-full z-2;
						}

						&::after {
							@apply absolute top-0 left-0 z-30 w-full h-full;
							content: "";
							background: s.black(0.6);
						}

						&:hover::after {
							background: s.black(0.2);
						}

						&.swiper-slide-thumb-active {
							padding: 2px;
							&::before {
								@apply absolute h-full w-full top-0 left-0 -z-1;
								content: "";
								background: s.$color-primary;
							}
							&::after {
								background: s.black(0);
							}
						}
					}
					img {
						@apply rounded-default blur-0;
					}
				}
			}
			.list-sub-item {
				@apply grid grid-cols-4 gap-1;
				.img-sub-item {
					@apply cursor-pointer blur-[2px] transition-all;
					&.active {
						@apply blur-0;
					}
				}
			}
		}

		.information-product {
			@apply col-span-2 pl-3;
			.information-wraper {
				@apply h-full;
				.information-content {
					@apply mb-2;
					.header-title {
						@apply font-medium text-dark transition-colors;
						&:hover {
							@apply text-highLight;
						}
					}
					.price {
						@apply text-primary mt-1;
					}
					.text-content {
						@apply tracking-wide text-dark text-sm;
					}
					.view-detail-action {
						@apply overflow-hidden text-center font-medium py-2 cursor-pointer select-none;
						&:hover {
							@apply text-highLight;
						}
					}
				}
				.information-option {
					.row-option {
						@apply mb-2;
						.option-title {
							@apply font-medium mb-1;
						}
					}
				}
				.action-order {
					@include s.alignFlex(space-between,center);
					gap: 10px;
					@apply mobile:gap-x-2 h-[35px] flex-row mobileTiny:flex-col mobileTiny:justify-around ;
					.quantity-control {
						@include s.alignFlex();
						@apply rounded-default w-fit h-full;
						background: #eaeaea;
						.mat-button{
							min-width: 35px !important;
							width: 35px !important;
							padding: unset !important;
						}
					}
					.quantity-input {
						@apply outline-none select-none text-center bg-transparent border-none;
						width: 30px;
						@include s.alignFlex();
					}
					.quantity-input::-webkit-inner-spin-button,
					.quantity-input::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					.btn-add-to-cart{
						@apply text-dark transition-all min-h-[35px] h-full flex justify-center items-center;
						&:hover{
							@apply text-primary;
						}
					}
				}
			}
		}
	}
	.mat-form-field-infix {
		width: 30px !important;
		height: 25px !important;
		border-top: unset !important;
		padding: unset !important;
	}
}

@keyframes activeThumb {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.swiper {
	@apply select-none;
	.swiper-button-prev,
	.swiper-button-next {
		@apply opacity-0 transition-opacity;
	}
	&:hover {
		.swiper-button-prev,
		.swiper-button-next {
			@apply opacity-100;
		}
	}
	.swiper-slide {
		@apply rounded-default overflow-hidden;
	}
}
